.root {
    position: relative;
	max-width: 100%;
	margin-bottom: 10px;
}

.root iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
	.root iframe {
		pointer-events: none;
	}
}