.root { 
	display: flex;
	flex-direction: column;
}

.iframe {
	overflow: hidden;
}

.siteSelect { 
	font-size: 24px;
    margin-left: 10px;
	max-width: 100%;
}


@media (max-width: 853px) {
	.siteSelect {
		font-size: 14px;
	}
}